@use "../abstracts/" as abs;

// Box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Reset margins

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

// Set initial font weights

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

// Set up the body
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: 700;
  // background-color: var(--clr-gray);
  background: linear-gradient(#fbf2f2, #fbd0d8);
  color: var(--clr-dark);
  line-height: 1.5;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include abs.breakpoint(xlarge) {
    justify-content: center;
  }

  // Using aic, causes the padding to not work on smaller screens
  // investigate further.
  // align-items: center;

  // overflow-x: hidden;

  &.noscroll {
    overflow: hidden;
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  // gap: abs.rem(22);
  width: 100%;
  min-height: 100vh;

  // padding-block: abs.rem(66);
  padding-block: abs.rem(32);
  padding-inline: abs.rem(20);
}

.love-message {
  font-family: var(--ff-serif);
  font-size: abs.rem(50);
  max-width: abs.rem(218);
  text-align: center;
  margin-top: abs.rem(43);
}

// Make images easier to work with

img,
picture {
  max-width: 100%;
  display: block;
}

// make form elements easier to work with
input,
button,
textarea,
select {
  font: inherit;
}

// Remove animations for people who've turned them off
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
