@use "../../sass/abstracts/" as abs;

.appIcon {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  text-decoration: none;
  color: var(--clr-dark);

  &.disabled {
    pointer-events: none;

    .img-container {
      background-color: #ffc2d2;
    }
  }

  .img-container {
    height: 56px;
    width: 56px;
    // aspect-ratio: 1 / 1;
    background-color: var(--clr-dark-pink);
    padding: 0.5rem;
    border-radius: 14px;

    svg {
      height: 42px;
      width: 42px;
      fill: #ffffff;
    }
  }

  .label {
    font-size: abs.rem(10);
    text-align: center;
    font-weight: bold;
  }
}
